// Viewports

$tablet-width: 768px;
$desktop-width: 1024px;

//Colors

$back-color-main: #ffffff;
$back-color-secondary: #e1e1e1;
$text-color-main: #000000;
$text-color-secondary: #ffffff;
$text-color-third: #666666;

$link-color: #4900a4;
$link-color-2: #14731b;
$link-color-3: #0e73e0;
$link-color-4: #dd4c00;
$link-color-5: #333333;
$link-color-6: #b60700;
$input-back-color: #ffffff;
$line-color: #cecece;
$shadow-color: #cecdcd;
$shadow-light-color: #f5f5f5;
$border-color: #7f7f7f;
$pagination-color: #3bad19;
$pagination-color-border: #21600e;
$pagination-color-current: #9fd206;
$pagination-color-disabled: #f6f6f6;
$pagination-color-text: #7b7b7b;

$hover-color: #bebebe;
$button-color: #a5a5a5;
$button-hover-color: #7a7a7a;
$button-submit-color: #9bcd05;
$button-submit-shadow-color: #d4ee84;
$button-submit-border-color: #7da703;
$button-submit-hover-color: #7da703;

$button-comp-top: #f3f3f3;
$button-comp-bottom: #e4e4e4;
$button-comp-border: #aeaeae;
$scale-color: #00ce20;



