.navigation {
  position: relative;
  width: auto;
}

.navigation__list {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  padding: 60px 0 20px;
  z-index: 4;
  background-color: $back-color-main;
  list-style: none;

  &--visible {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin: 30px 0 0 240px;
    padding: 0 30px;
    border: 1px solid $line-color;
    border-radius: 10px;
  }
}

.navigation__link {
  display: block;
  padding: 15px 5px;
  color: $link-color;

  &:hover {
    background-color: $hover-color;
  }

  &--second {
    color: $link-color-2;
  }

  &--third {
    color: $link-color-3;
  }

  &--fourth {
    color: $link-color-4;
  }

  &--fifth {
    color: $link-color-5;
  }

  &--sixth {
    color: $link-color-6;
  }
}
